.container{
    padding-top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
        &__heading{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: opacify-color($color-primary, 1);
            width: 100%;
            padding: 10px;
                &__pharmacy{
                    font-family: 'Inter', sans-serif;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    text-shadow: 2px 2px 3px $color-secondary-1;
                    margin-bottom: 5px;
                }
            
                &__wish{
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                }
        }

        &__question{
            text-align: center;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            margin: 20px 10px;
        }
}

.blob{
    position: absolute;
    z-index: -1;
        &__1{
            top: -10%;
            left: -50%;
            height: 50%;
        }

        &__2{
            top: 40%;
            right: 0;
            height: 40%;
        }
}

#appreciation{
    display: none;
}

.emoji-box{
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
        &__items{
            height: auto;
            width: 80%;
            display: grid;
            grid-template-columns: repeat(2, 100px);
            justify-content: center;
            gap: 10px;
        }

        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 105px;
            width: 105px;
            border: 1px solid $pure-black;
            border-radius: 10px;
            box-shadow: inset 5px 5px 10px opacify-color($pure-black, 0.1),
                        inset -5px -5px 10px opacify-color($pure-white, 0.2),
                        1px 1px 2px opacify-color($pure-black, 0.3);
            cursor: pointer;
                &.active{
                    border: 1px solid $color-secondary-2;
                    color: $pure-white;
                    background-color: $color-secondary-2;
                    box-shadow: inset 5px 5px 10px opacify-color($pure-black, 0.2),
                        inset -5px -5px 10px opacify-color($pure-white, 0.3),
                        1px 1px 2px opacify-color($pure-black, 0.3);
                }

                img{
                    height: 40px;
                }
        
                label{
                    pointer-events: none;
                    text-align: center;
                    font-size: 14px;
                }
        }

        &__feedback{
            display: none;
            margin-top: 30px;
            width: 90%;
            transition: all 0.5s ease-in-out;
                &.active{
                    transition: all 0.5s ease-in-out;
                    display: table;
                }

                &__heading{
                    margin-top: 30px;
                    text-align: center;
                    font-weight: bold;
                    font-size: 14px;
                }

                &__comment-btn{
                    width: 90%;
                    margin: 15px 0px;
                    border: 1px solid #000000;
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
                    border-radius: 5px;
                    font-family: "Inter", sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    padding: 7px 20px;
                    color: $pure-white;
                    background-color: $color-secondary-2;
                    cursor: pointer;
                }

                td{
                    display: flex;
                    padding-top: 5px;
                }

                &__comment{
                    
                        // label{
                            
                        // }
            
                        textarea{
                            resize: none;
                            outline: none;
                            font-family: 'Inter', sans-serif;
                            font-size: 15px;
                            height: 80px;
                            padding: 5px;
                            border: none;
                            border-radius: 5px;
                            width: 100%;
                            background-color: $color-secondary-1;
                            border: 1px solid $pure-black;
                            box-shadow: 2px 2px 5px opacify-color($pure-black, 0.3);
                        }
                }

                &__name{

                        // label{
                            
                        // }

                        input{
                            width: 100%;
                            outline: none;
                            padding: 5px;
                            font-family: 'Inter', sans-serif;
                            font-size: 15px;
                            border: none;
                            border-radius: 5px;
                            background-color: $color-secondary-1;
                            border: 1px solid $pure-black;
                            box-shadow: 2px 2px 5px opacify-color($pure-black, 0.3);
                        }
                }

                &__contact{
                    
                        // label{
                            
                        // }

                        input{
                            width: 100%;
                            outline: none;
                            padding: 5px;
                            font-family: 'Inter', sans-serif;
                            font-size: 15px;
                            border: none;
                            border-radius: 5px;
                            background-color: $color-secondary-1;
                            border: 1px solid $pure-black;
                            box-shadow: 2px 2px 5px opacify-color($pure-black, 0.3);
                        }
                }
        }

        &__submit{
            width: 90%;
            margin: 30px 0px;
            border: 1px solid $pure-black;
            box-shadow: 2px 2px 5px opacify-color($pure-black, 0.3);
            border-radius: 5px;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 7px 20px;
            color: $pure-white;
            background-color: $color-secondary-2;
            cursor: pointer;
                &:active{
                    background-color: darken-color($color-secondary-2, 10%);
                }
            }
    
}