.page-title{
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#appreciation{
    display: none;
}

.emoji-box{
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
        &__items{
            height: auto;
            width: 80%;
            display: grid;
            grid-template-columns: repeat(2, 100px);
            justify-content: center;
            gap: 15px;
        }

        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 100px;
            width: 100px;
            border: 1px solid $pure-black;
            border-radius: 10px;
            box-shadow: inset 5px 5px 10px opacify-color($pure-black, 0.1),
                        inset -5px -5px 10px opacify-color($pure-white, 0.2),
                        1px 1px 2px opacify-color($pure-black, 0.3);
            cursor: pointer;
                &.active{
                    border: 1px solid $color-secondary-2;
                }

                img{
                    height: 50px;
                }
        
                label{
                    pointer-events: none;
                }
        }

        &__submit{
            margin: 30px 0px;
            border: 1px solid $pure-black;
            box-shadow: 2px 2px 5px opacify-color($pure-black, 0.3);
            border-radius: 5px;
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            letter-spacing: 1px;
            padding: 7px 20px;
            background-color: $color-primary;
            cursor: pointer;
                &:active{
                    background-color: darken-color($color-primary, 10%);
                }
            }
    
}